*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  text-align: center;
  padding: 2rem;
  background: linear-gradient(90deg,#a0ffd6,#c79fc2);
  
 /* box-shadow: 0px 4px 24px #b5d6ee, inset 6px 6px 12px #63a5d9, inset -12px -12px 24px #3e90d0;  */
 } 
 input {
  min-width: 40rem;
  /* min-height: 1rem; */
  margin: 1rem;
  padding: 0.3rem 1.2rem;
  font-size: 1.5rem;
  line-height: 1.43;
  color: rgb(29, 28, 28);
  background-color: #fff;
  border: none;
  border-radius: 0.4rem;
  outline: none;
}
button{
  padding: 0.3rem 1.2rem;
  font-size: 1.5rem;
  line-height: 1.43;
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  background-color: #dca2a2;
  
}
button:hover{
  cursor: pointer;
  background-color: #e5c093;

}
li{
  list-style: none;
  padding: 0.3rem 1.2rem;
  font-size: 2rem;
  line-height: 1.43;
  color: rgb(38, 35, 35);
}
